* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 822px;
    background: linear-gradient(to bottom, #FEF4F2, #FFEAE6);
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    width: 480px;
    height: 802px;
    border-radius: 32px;
    background-image: url("./image.png");
    background-size: cover;
    background-position: center;
    padding: 40px;
}
.overlay{
    position: absolute;
    background: #FF5634; 
    border-radius: 32px;
    inset: 0;
    opacity: 0.5; 
}
.logo{
    width: 170px;
    height: 58.86px;
    position: absolute;
    top: 40px;
    left: 40px;
    
}
.text-container{
    position:absolute;
    bottom: 40px;
    color: white;
    width: 400px;
    height: 160px;
    gap: 24px;

}
.title{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    
    letter-spacing: -0.03em;
}
.description{
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-top: 24px;
}

